header{
  height:2.8rem;
  width:100%;
  top:0;
  left:0;
  background-color:rgba(0,0,0,.6);
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header div, header nav{
  width:200px;
  height:80%;
  background-color: red;
  margin: 0 1rem;
}
